.btns{
    text-align: center;
}
.btn-primary-custom{
    background: hsl(245, 75%, 52%);
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 95%;
    padding: 0.7rem 0rem;
    border-radius: 12px;
    transition: .50s all;
}
.btn-primary-custom:hover{
    opacity: .5;
    color: white;
    
}

.btn-cancel{
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    padding: 0.5rem 0rem;
    opacity: .5;
    transition: .50s all;
}
.btn-cancel:hover{
    opacity: 1;
}